:root {
  --dog-landing-3-background: #fff;
  --dog-landing-3-c-4: #181817;
  --dog-landing-31: #ff9f0e;
  --dog-landing-3-c-5: #f1f3ff;
  --text-count: #fa0;
  --dog-landing-3-c-6: #839aa9;
  --dog-landing-32: #fcb62a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
