.arrow {
  position: absolute;
  width: 64px;
  height: 48px;
  flex-shrink: 0;
  fill: #fcb62a;
  top: 152px;
  left: 452px;
}

.arrow-1 {
  position: absolute;
  width: 194px;
  height: 144px;
  flex-shrink: 0;
  fill: #fcb62a;
  top: -30px;
  left: 1090px;
}
