.button {
  width: 151px;
  height: 53px;
  padding: 16px 32px;
  border-radius: 8px;
  background: var(--dog-landing-31, #ff9f0e);
  color: var(--beauty-landing-2-background, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.button-content {
  width: 171px;
}
