.dog-1 {
  position: absolute;
  top: 456px;
  left: 560px;
  width: 48px;
  height: 48px;
  transform: rotate(-16.064deg);
  flex-shrink: 0;
  border-radius: 100%;
}
.dog-2 {
  position: absolute;
  top: 276px;
  left: 1186px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.dog-3 {
  position: absolute;
  top: 178px;
  left: 800px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
