/*hero-section*/
.paw-1 {
  position: absolute;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  fill: #d9a6ff;
  top: 270px;
  left: 698px;
}
.paw-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  fill: #fcb62a;
  top: 614px;
  left: 584px;
  transform: rotate(242deg);
}
.paw-3 {
  position: absolute;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  fill: #ff6e9f;
  top: 416px;
  left: 1228px;
  transform: rotate(72deg);
}
.paw-4 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 60px;
  left: 728px;
  transform: rotate(58deg);
}
.paw-5 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 92px;
  left: 1250px;
  transform: rotate(344deg);
}
.paw-6 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 784px;
  left: 146px;
  transform: rotate(56deg);
}
/*needs-section*/
.paw-7 {
  position: absolute;
  width: 42px;
  height: 42px;
  transform: rotate(312deg);
  flex-shrink: 0;
  fill: #839aa9;
  top: 322px;
  left: 60px;
}
.paw-8 {
  position: absolute;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  fill: #839aa9;
  top: 52px;
  left: 176px;
  transform: rotate(353deg);
}
.paw-9 {
  position: absolute;
  width: 42px;
  height: 42px;
  transform: rotate(75deg);
  flex-shrink: 0;
  fill: #839aa9;
  top: 252px;
  left: 430px;
}
.paw-10 {
  position: absolute;
  width: 208px;
  height: 208px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: -58px;
  left: 1178px;
  transform: rotate(320deg);
}
.paw-11 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 58px;
  left: -122px;
  transform: rotate(78deg);
}
.paw-12 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 442px;
  left: 1022px;
  transform: rotate(45deg);
}
.collar {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 28px;
  left: -420px;
}
.toy-1 {
  position: absolute;
  width: 64px;
  height: 54px;
  top: 218px;
  left: 956px;
}
.toy-2 {
  position: absolute;
  width: 64px;
  height: 54px;
  top: -36px;
  left: 206px;
}
.paw-13 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 198px;
  left: 596px;
}
.paw-14 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 110px;
  left: 1388px;
}
.paw-15 {
  position: absolute;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 12px;
  left: 418px;
  transform: rotate(45deg);
}
.paw-16 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 4px;
  right: 346px;
  transform: rotate(45deg);
}
.paw-17 {
  position: absolute;
  width: 208px;
  height: 208px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 436px;
  left: 244px;
  transform: rotate(336deg);
}
// --------Nutrition-----------

.paw-18 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 94px;
  left: 1168px;
  transform: rotate(55deg);
}

.paw-19 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: -100px;
  right: 538px;
  transform: rotate(336deg);
}

.paw-20 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  top: 1024px;
  left: 202px;
  transform: rotate(44deg);
}

.paw-21 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  bottom: -172px;
  right: 442px;
  transform: rotate(47deg);
}

.paw-22 {
  position: absolute;
  width: 97px;
  height: 97px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  bottom: 506px;
  left: 536px;
  transform: rotate(336deg);
}
.paw-23 {
  position: absolute;
  width: 208px;
  height: 208px;
  flex-shrink: 0;
  fill: #fffaf3;
  filter: blur(4px);
  bottom: -144px;
  right: -110px;
  transform: rotate(336deg);
}
