.rating {
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  &__input {
    display: none;
  }
  &__label {
    cursor: pointer;
    position: relative;
    color: var(--dog-landing-32);
  }
  &__label:before {
    content: '★';
    position: absolute;
    opacity: 0;
  }
  &__label:hover:before,
  &__label:hover ~ &__label:before {
    opacity: 1 !important;
  }

  &__input:checked + &__label:before,
  &__input:checked ~ &__label:before {
    opacity: 1;
  }
  // =======================

  &:hover &__input:checked ~ &__label:before {
    opacity: 0.3;
  }

  &__input:checked ~ &__label:before {
    opacity: 1;
  }
}
